@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    font-size: 14px;
    background: #1f1f26;
    color: white;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
  }